---
import triangleStar from "@/assets/triangle-star.webp"
---

<section class="relative flex w-full bg-[#FF79AE] py-12 text-white lg:py-20">
	<div class="absolute inset-0 z-0 mix-blend-multiply">
		<div
			class="h-full w-full scale-x-[-1] bg-cover bg-[50%_30%] bg-no-repeat"
			style={{ backgroundImage: "url('/images/automate-actions/bg-drive-costumers.webp')" }}
		>
		</div>
	</div>

	<div class="z-20 container mx-auto flex items-center gap-10 px-4 lg:max-w-7xl">
		<div class="">
			<h2 class="mb-10 text-3xl leading-tight font-black md:text-4xl lg:text-5xl">
				<span>Drive Customers to</span>
				<br />
				<span>Take Meaningful Action</span>
			</h2>

			<p class="mb-6 max-w-md text-lg text-pretty">
				The most effective communication from a business is a well-timed, engaging, and personalized
				message.
			</p>
			<p class="max-w-md text-lg text-pretty">
				Automate Actions allows you to respond based on customer feedback and engage in individual
				dialogues without needing to be part of every conversation.
			</p>
		</div>
		<img class="z-30 h-96" src={triangleStar.src} alt="" />
	</div>
</section>
