---
import { Button } from "@/components/ui/button"
import Layout from "@/layouts/Layout.astro"
---

<Layout>
	<div class="grid h-screen place-items-center content-center">
		<Button className="w-52">Start Now!</Button>
	</div>
</Layout>
