---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
	<div class="grid place-items-center h-screen content-center">
		<Button
			className="font-black tracking-wide h-12 w-52 bg-[linear-gradient(246.4deg,#F8384D_-11.25%,#011FD7_93.41%)] rounded-xl"
			>Start Now!</Button
		>
	</div>
</Layout>
