---
import { Button } from "@/components/ui/button"
---

<section class="bg-secondary relative flex min-h-screen w-full items-center overflow-hidden pt-30">
	<div
		class="container mx-auto flex flex-col items-center space-y-10 px-4 py-12 text-center text-white lg:max-w-7xl"
	>
		<h1 class="text-3xl leading-tight md:text-4xl lg:text-5xl">
			<span>AI</span>
			<span class="font-black">Powered</span>
		</h1>

		<p class="max-w-sm text-lg text-balance">
			Deliver personalized responses to every review with AI.
		</p>

		<Button variant="secondary" className="text-secondary w-52">Get a demo</Button>
	</div>
</section>
