<section class="bg-secondary relative flex w-full py-12 text-white lg:py-20">
	<div class="absolute inset-0 z-0 mix-blend-multiply">
		<div
			class="h-full w-full scale-x-[-1] bg-cover bg-top bg-no-repeat"
			style={{ backgroundImage: "url('/images/ai-powered/bg-let-costumers-reach.webp')" }}
		>
		</div>
	</div>

	<div class="z-20 container mx-auto flex-col items-start px-4 lg:max-w-7xl">
		<h2 class="mb-8 text-3xl leading-tight font-black md:text-4xl lg:text-5xl">
			<span>Let Customers</span>
			<br />
			<span>Reach You Anytime</span>
		</h2>

		<p class="mb-4 max-w-md text-lg text-balance">
			AI-Powered enables our review management system to automate personalized, timely responses to
			customer reviews.
		</p>
		<p class="max-w-md text-lg text-balance">
			This enhances engagement, improves efficiency, and maintains a consistent brand voice—all
			while freeing up valuable time.
		</p>
	</div>
</section>
