<section class="flex w-full py-12 lg:py-20">
	<div class="container mx-auto items-center px-4 text-center lg:max-w-7xl">
		<h2 class="mb-4 text-2xl leading-tight md:text-3xl lg:text-4xl">
			<span class="text-[#313131]">You only get one chance to</span>
			<br />
			<span class="text-primary font-black">make a first impression!</span>
		</h2>

		<p class="text-lg text-[#565656]">Transform customer experience in 3 simple steps:</p>

		<div class="mt-24 flex items-start justify-center gap-9">
			<div class="flex max-w-xs flex-col items-center">
				<div
					class="from-secondary to-primary mb-10 inline-flex items-center justify-center rounded-full bg-gradient-to-b p-1"
				>
					<div class="flex size-24 items-center justify-center rounded-full bg-white">
						<span class="text-primary text-4xl font-black">1</span>
					</div>
				</div>

				<h3 class="mb-5 text-3xl font-black text-[#313131]">Conversation</h3>
				<p class="text-lg text-balance text-[#565656]">
					Engage your customers with timely and relevant responses.
				</p>
			</div>

			<div class="flex max-w-xs flex-col items-center">
				<div
					class="from-secondary to-primary mb-10 inline-flex items-center justify-center rounded-full bg-gradient-to-b p-1"
				>
					<div class="flex size-24 items-center justify-center rounded-full bg-white">
						<span class="text-primary text-4xl font-black">2</span>
					</div>
				</div>

				<h3 class="mb-5 text-3xl font-black text-[#313131]">Context</h3>
				<p class="text-lg text-balance text-[#565656]">
					ReviewJar analyzes every conversation, helping you enhance engagement.
				</p>
			</div>

			<div class="flex max-w-xs flex-col items-center">
				<div
					class="from-secondary to-primary mb-10 inline-flex items-center justify-center rounded-full bg-gradient-to-b p-1"
				>
					<div class="flex size-24 items-center justify-center rounded-full bg-white">
						<span class="text-primary text-4xl font-black">3</span>
					</div>
				</div>

				<h3 class="mb-5 text-3xl font-black text-[#313131]">Channel</h3>
				<p class="text-lg text-balance text-[#565656]">
					Streamline the customer experience by efficiently managing reviews and feedback.
				</p>
			</div>
		</div>
	</div>
</section>
