---
import Badge from "@/components/icons/Badge.astro"
import Chicken from "@/components/icons/Chicken.astro"
import Hat from "@/components/icons/Hat.astro"
import Heart from "@/components/icons/Heart.astro"
import Taco from "@/components/icons/Taco.astro"
import WigglyLine2 from "@/components/icons/WigglyLine2.astro"
---

<section class="relative flex w-full py-12 lg:py-20">
	<Chicken class="absolute top-28 left-0 text-[#EAEAEA]" />
	<WigglyLine2 class="absolute top-10 left-40 text-[#EAEAEA]" />
	<Badge class="absolute top-20 left-52 text-[#EAEAEA]" />

	<Taco class="absolute top-28 right-0 text-[#EAEAEA]" />
	<Heart class="absolute top-20 right-40 text-[#EAEAEA]" />
	<Hat class="absolute top-36 right-50 text-[#EAEAEA]" />

	<div class="container mx-auto items-center px-4 text-center lg:max-w-7xl">
		<h2 class="mb-4 text-2xl leading-tight md:text-3xl lg:text-4xl">
			<span class="text-[#313131]">You only get one chance to</span>
			<br />
			<span class="text-primary font-black">make a first impression!</span>
		</h2>

		<p class="text-lg text-[#565656]">Transform customer experience in 3 simple steps:</p>

		<div class="mt-24 flex items-start justify-center gap-9">
			<div class="flex max-w-xs flex-col items-center">
				<div
					class="from-secondary to-primary mb-10 inline-flex items-center justify-center rounded-full bg-gradient-to-b p-1"
				>
					<div class="flex size-24 items-center justify-center rounded-full bg-white">
						<span class="text-primary text-4xl font-black">1</span>
					</div>
				</div>

				<h3 class="mb-5 text-3xl font-black text-[#313131]">Conversation</h3>
				<p class="text-lg text-balance text-[#565656]">
					Engage your customers with timely and relevant responses.
				</p>
			</div>

			<div class="flex max-w-xs flex-col items-center">
				<div
					class="from-secondary to-primary mb-10 inline-flex items-center justify-center rounded-full bg-gradient-to-b p-1"
				>
					<div class="flex size-24 items-center justify-center rounded-full bg-white">
						<span class="text-primary text-4xl font-black">2</span>
					</div>
				</div>

				<h3 class="mb-5 text-3xl font-black text-[#313131]">Context</h3>
				<p class="text-lg text-balance text-[#565656]">
					ReviewJar analyzes every conversation, helping you enhance engagement.
				</p>
			</div>

			<div class="flex max-w-xs flex-col items-center">
				<div
					class="from-secondary to-primary mb-10 inline-flex items-center justify-center rounded-full bg-gradient-to-b p-1"
				>
					<div class="flex size-24 items-center justify-center rounded-full bg-white">
						<span class="text-primary text-4xl font-black">3</span>
					</div>
				</div>

				<h3 class="mb-5 text-3xl font-black text-[#313131]">Channel</h3>
				<p class="text-lg text-balance text-[#565656]">
					Streamline the customer experience by efficiently managing reviews and feedback.
				</p>
			</div>
		</div>
	</div>
</section>
