<section
	class="from-secondary/90 to-primary/90 relative flex w-full bg-gradient-to-r py-20 text-white lg:py-40"
>
	<div class="absolute inset-0 z-0 opacity-40">
		<div
			class="h-full w-full bg-cover bg-center bg-no-repeat"
			style={{ backgroundImage: "url('/images/bg-helping-business.webp')" }}
		>
		</div>
	</div>

	<div class="absolute inset-0 overflow-hidden">
		<div
			class="h-full w-full translate-x-1/2 translate-y-1/2 -rotate-25 bg-cover bg-center bg-no-repeat opacity-50"
			style={{ backgroundImage: "url('/images/pattern-4.webp')" }}
		>
		</div>
	</div>

	<div class="z-20 container mx-auto flex-col items-start px-4 lg:max-w-7xl">
		<h2 class="mb-8 text-3xl leading-tight md:text-4xl lg:text-5xl">
			<span>Helping local </span>
			<br />
			<span class="font-black">businesses thrive</span>
		</h2>

		<p class="max-w-lg text-4xl">
			+50 Million people use ReviewJar.ai to support local businesses that bring their communities
			to life.
		</p>
	</div>
</section>
